/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* common styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.txt-heading {
    color: #131313;
}

.text-description {
    color: #727272;
}

.btn-primary {
    border-radius: 8px;
    border: none;
    background: #FF900E;
    width: 180px;
    height: 60px;

    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav>ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: space-between;

    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner section */


.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    margin-top: 30px;
}

.banner-description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner>img {
    width: 100%;
    margin-top: 30px;
}

/* media query  */
@media screen and (max-width: 576px) {
    .btn-primary {
        width: 100px;
        height: 40px;

        font-size: 0.8rem;
    }

    header {
        padding: 30px 30px;
    }

    .nav-title {
        font-size: 1rem;
    }

    nav>ul {
        gap: 10px;
        font-size: 0.8rem;
    }

    /* banner section */
    .banner-title {
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .banner-description {
        font-size: 0.8rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .banner>img {
        width: 100%;
        margin-top: 10px;
    }
}